body {
  margin: 0px auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.dashboard{
  text-align: center;
  margin: 0px auto;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border: 2px dotted;

}

.dashboard-title {
  font-family: 'Andale Mono';
  font-size: 75px;
  color: cyan;
  text-shadow: 2px 2px #ff0000;
}
.dashboard-nav-bar {
  background-color: LightCyan;
  border: 1px solid;
  height: 60px;
  align-self: center;
}
.dashboard-nav {
  font-size: 40px;
  font-weight: bolder;
  color: darkseagreen;
  flex: 1;
  box-shadow: 2px 2px orchid;
  font-family: fantasy;
}
.question-card {
  margin: 20px;

}
.question-summary{
  margin: 20px;
}

.main-container {
  width: 100%;
  margin: 0px auto;
  text-align: center;
}
.question-card {
  height: 100px;
  font-size: 20px;
  font-family: 'futura';
}

/*div {
  align-content: center;
  display: inline-block;
}*/

.avatar {
  background-color: aqua;
  height: 50px;
  width: 100px;
  display: inline-block;
  margin-right: 50px;

}

.question-summary{
  display: inline-block;
}

.question-header{
  background-color: cyan;
  display: block;
  width: 100%;
  margin: 0px auto;
}

.create-new-question-header{
  font-size: 100px;
  font-weight: bold;
  color: coral;
  text-shadow: 3px 3px cornflowerblue;
}

.new-question-container{

  padding-bottom: 50px;
  margin-bottom: 50px;

}

.newQuestion-subheader{
  font-size: 50px;
  font-family: fantasy;
  color: orchid;
  text-shadow: 2px 2px black;
}

.new-question{
  font-family: futura;
  font-size: 20px;
  margin-bottom: 100px;
}

.btn{
  width: 200px;
  height: 50px;
  background-color: cadetblue;
  font-weight: bold;
  color: orchid;
  font-size: 30px;

}

.percentage-card{
  margin: 20px;;

  padding: 20px;
}
.textarea{
  width: 400px;
  height: 75px;
  margin: 20px;
}

.percentage-bar{
  margin: 20px;
}
input {
  margin: .4rem;
}



#leaderboard{
  width: 1000px;
  text-align: center;
  margin: 0px auto;
  border-style: dotted;
}

.navLink{
  display: inline;
  padding: 10px;
  flex: 2;
  background-color: bisque;
  font-family: 'futura';
  text-decoration: none;
  text-align: end;
  border: 1px solid;
  font-size: 25px;
}

.nav{
  width: 100%;
  text-align: left;
  border-bottom: solid 1px;
}

.logOut{
  width: 50%;
  background-color: bisque;
  font-size: 25px;
}

#userinfo{
  display: inline-block;
  padding: 10px;
}

#user-card{
  width: 500px;
  border-style: double;
  margin: 0px auto;
  padding: 20px;
}

#user-info{
  display: inline-block;
  margin-right: 50px;
}

#score-card{
  display: inline-block;
}


